
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url('../Imagens/Fundo.Login.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    overflow:hidden;
}

.login-container{

    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

    padding-top:160px;
}

.login-card{

    width:430px;

    padding:40px;

    border-radius:35px;

    background:rgba(12, 10, 28, 0.78);

    backdrop-filter:blur(10px);

    box-shadow:
    0 0 60px rgba(0,0,0,0.45);

    animation:fadeUp 1s ease;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.login-card label{

    display:block;

    margin-bottom:12px;
    margin-top:18px;

    font-size:18px;
    font-weight:700;

    color:white;

    letter-spacing:1px;
}

.login-card input{

    width:100%;
    height:55px;

    border:none;
    outline:none;

    border-radius:30px;

    background:#2a2442;

    padding:0 20px;

    color:white;

    font-size:16px;

    transition:.3s;
}

.login-card input:focus{

    transform:scale(1.02);

    box-shadow:
    0 0 0 2px #19e8ff,
    0 0 20px rgba(25,232,255,.3);
}

.login-card button{

    width:100%;
    height:58px;

    margin-top:40px;

    border:none;

    border-radius:30px;

    background:#16dfff;

    color:white;

    font-size:22px;
    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.login-card button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 25px rgba(22,223,255,.45);
}

.login-card button:active{

    transform:scale(.98);
}

@media(max-width:600px){

    body{
        padding:20px;
    }

    .login-card{

        width:100%;

        padding:30px;

        border-radius:25px;
    }

}
